:root {
    --primary-color: #33658A;
    /* Lapis Lazuli */
    --secondary-color: #86BBD8;
    /* Carolina Blue */
    --accent1-color: #F6AE2D;
    /* Hunyadi Yellow */
    --accent2-color: #F26419;
    /* Orange (Pantone) */
    --heading-font: 'IBM Plex Serif', serif;
    --body-font: "Roboto", sans-serif;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

//


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 300px;
    padding: 16px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
}

footer .socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia img {
    width: 24px;
    height: 24px;
}