:root {
    --heading-background-color: darkblue;
    --text-align: center;
    --height: auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 0 1rem; /*adds margin to the left */
}

p{
    padding: 0;
}

main {
    max-width: 840px;
    padding: 0 1rem; /*adds padding to the right */
}

aside {
    width: 20rem;
    /* margin: 1rem; */
    /*border: 1px solid rgba(0 0 0 / 0.2); /*use variables */
    /*padding: 1rem;*/
    /*background-color: #eee;*/ /*use variables */
    /*color: #333;*/ /*use variables */
    text-align: var(--text-align);
    position: relative;
}
aside h2 {
    position: absolute;
    top: 17px;
    left: 175px;
    color: #000; /*added to change color*/
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2);  /*use variables */
    background-color: #eee; /*use variables */
    color: #333; /*use variables */
}

.indent {
    padding-left: 2rem;
}