* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: darkblue;
    --thickness: 1rem;
    --border-thickness: 1px;

}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-thickness) solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    /* margin: var(--thickness);
    border: var(--border-thickness) solid rgb(0, 0, 0, 0.2);
    padding: var(--thickness);
    background-color: #eee;
    color: #333; */
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-thickness) solid #000;
    text-align: center;

}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #eee;
    color: #333;
}
